@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
ul li{
    list-style: none;
}
.text-center{
    text-align: center;
}

a{
    text-decoration: none;
   
    color: #000;

}
.top-padding{
    padding-top:5rem;
}
.nav-abs{
    width: 100%;
    position: absolute;
    z-index: 2;
    border-bottom: 2px solid whitesmoke;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    height: 10vh;
    width: 100%;
    background: transparent;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.582); */
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
nav-links{
    width: 60%;
    margin: 0 auto;
}
.search-bar{
    height: 7vh;
    /* width: 20%; */
}
.search-bar img{
    height: 100%;
   padding-top: 5px;
}
.nav-item{
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.01rem;
}
.nav-abs{
   position:absolute;
   top:0;
   z-index: 2;
}

/* slider */
.slideshow-container {
    position: relative;
    /* margin: auto; */
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* padding: 16px; */
    /* margin-top: -22px; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 0 4rem;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    /* color: #f2f2f2; */
    /* padding: 8px 12px; */
    position: absolute;
    top: 12rem;
    width: 30%;
    left: 10rem;
  }
  .mySlides{
      height: 100vh;
      object-fit: cover;
  }
  .slider-image{
      height: 100vh;
      width: 100%;
      object-fit: none;
  }
  .welcome-text{
    
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.02rem;
      padding-bottom: 1rem;
      color: #000;
  }
  .marketing{
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.5rem;
      color: #000;
      line-height: 3.2rem;
  }
  button{
      margin-top: 20px;
      background-color: #000;
      border: none;
      width: 7.8rem;
      height: 40px;
      border-right:2px solid rgb(231, 41, 73);
   
  }
  .discover-btn{
    background-color: #000; 
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
  
    
  }
.project-start{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    /* text-align: center; */
    padding: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contact-us input{
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    

}

.progress{
    margin-top: 5rem;
    text-transform: uppercase;

}
.welcome{
    font-size: 16px;
    line-height: 18px;
    padding: 20px;
}
.text-cap{
    font-size: 32px;
    width: 60%;
    margin: 0 auto;
}

/* card */
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 80px 0; */
    padding: 60px 0;
}
.card-box{
    /* border: rgba(0, 0, 0, 0.12); */
    box-shadow: 2px 2px 8px rgba(0,0,0,0.12);
    /* border: 2px solid black; */
    width: 30%;

}
.header1{
    text-transform: uppercase;
    padding: 42px;
    font-size: 20px;
}
.card-disc{
    text-transform: uppercase;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    padding: 12px;
}
.mode-logo{
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.discover{
    font-weight: 600;
    padding: 20px 0;
    text-transform: uppercase;
}
.experiernce{
    background: rgba(90, 86, 81, 0.13) ;
    display: flex;
    justify-content: space-between;
}
.exp-disc{
    /* position:absolute; */
    width: 50%;
    margin-left: 10%;
}
.exp-disc p{
    font-size: 12px;
}
.exp-disc h1{
    text-transform: uppercase;
    font-size: 32px;
}
.experience-image{
    width: 75%;
    height: 80vh;
}
.experience-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    margin-top: 3.5rem;
}



.number-wrapper h3{
    /* position: relative; */
    margin: 2rem 0;
}
span{
    /* position: absolute; */
    padding:10px;
    color: #fff;
    background: #000;

}
.number-wrapper p{
    width: 80%;
    margin: auto;
    /* border-left: 2px solid black; */
    
}
.experience-image{
    position: relative;
}
.experience-btn{
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 28px;
    /* background-color: red; */
    
}
.experience-btn .exp{
    position: absolute;
    background-color: rgba(223, 35, 60, 0.986);

    color: #fff;
   
    width: 10rem;
    height: 100%;
    left: 0;
    bottom: -60px;
    width: 12rem;
    height: 5rem;
    text-align: left;
    padding-left: 10px;
}
.portfolio, .showcase-disc{
    font-weight: 300;
    font-size: 0.90rem;
}

.work-showcase{
    font-weight: 900;
    font-size: 2.1rem;

}
.image-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 4rem;
}
.show-image{
    width: 32%;
   margin-top: 2rem;
}
.cust{
    font-weight: 700;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    
}
.customer{
    padding-bottom: 5rem;
}
.customer, .customer-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background: #000;
}

.cimg{
    width: 80px;
    height: 80px;
    text-align: center;
}
.cimg img{
    width: 50%;
    height: 50%;
}
.cname{
    font-weight: 500;
    font-size: 8px;
    
}
.happyC-left{
    width: 35%;
}
.happyC-right{
    width: 55%;
    margin: 0 auto;
}
.why-us{
    width: 50%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85rem;
}

.why-us-header{
    font-weight: 800;
    font-size: 2rem;
}
.technology{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

}
.tech-1{
    color: #fff;
    background: #505052;
    margin: 2rem auto;
    padding:1rem;
    width: 33%; 
}
.tech-1:hover{
    background: #000;
}
.why-us-discription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:3rem ;
}
.disc-image{
    width: 40%;
    object-fit: fill;
}
.disc-image img{
    width: 100%;
}
.disc-text{
    width: 60%;
    padding-left: 1.5rem;
}
ul .tech-list{
    
    list-style-type:"\1F44D";
    padding: 5px;
}